body{

   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    

    
}
.un{
    width: 510px;
    background-color: red;
    border-radius: 16px;
    overflow: hidden;
    
}
.deux{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    
}
.deux p{
  color: aliceblue;
  margin: 0;
}
.troi{
    width: 100%;
    height: 58%;
    background-color: aliceblue;
    display: flex;
}
.quatre{
    background: #fff;
    height: 100px;
    margin-top: 0.5%;
    
}


.troi .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 82px;
  color: red;
  margin: 40px 40px ;
 
}
.deux .material-symbols-outlined{
    border: 0px solid rgb(17, 16, 16);
    padding: 0rem;
   
    background-color: aliceblue;
    color: red;
    border-radius: 30px;
}

.troi_deux{
   margin: 20px 36px; 
}
.troi_deux p{
    display: flex;
    
}
.troi_troi{
    padding: 9px 41px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 6px 6px;
}
.quatre_un{
    padding: 5px 36px;;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 6px 6px;
    box-sizing: border-box;
    display: flex;
}
.quatre_un p{
    margin: 5px 5px;
}
.quatre_deux{
    padding:9px 44px;
    background-color: white;
    color: red;
    border-color:  red;
    border-radius:6px 6px;
   
    
}
.quatre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    height: 20%;
   padding: 16px 0;
}